<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " class="js js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="title" content="{{ page.title }}"">
<link rel="shortlink" href="https://drupal-england-wales.github.io/">
<link rel="canonical" href="https://drupal-england-wales.github.io/">
<meta name="description" content="Drupal England and Wales is a UK based association for marketing and supporting the Drupal CMS">
<meta name="referrer" content="unsafe-url">
<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="https://www.drupal.org/favicon.ico" type="image/vnd.microsoft.icon">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="./assets/css_0hHz8SUrag7aEh1DKXBaPRDOUqJ6plYpg3kkXMhm9R8.css">
<link rel="stylesheet" media="all" href="./assets/css_pxCrKCCxdO5MGgGdr71LvZDhx8M8j_p0jDyWIPCLDGk.css">


<!--[if lte IE 8]>
<script src="/assets/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js"></script>
<![endif]-->

</head>

		<body>
			<a href="https://drupal-england-wales.github.io/#main-content" class="visually-hidden focusable">
		Skip to main content.
	</a>

		<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
	<header class="l-header" role="banner">
	<a href="https://drupal-england-wales.github.io/#" class="nav-toggle" aria-hidden="true">Menu</a><nav role="navigation" class="primary-nav clearfix nav-collapse nav-collapse-0 closed" style="transition: max-height 284ms ease 0s; position: relative;" aria-hidden="false">
	<div class="l-container">
			<a href="https://drupal-england-wales.github.io/" title="Home" rel="home" class="site-logo">
	<img src="./assets/logo.png" alt="Home">
</a>

						<ul class="m-main menu menu--inline">
						<li class="menu__item">
			<a href="/what-is-drupal.html" class="menu__link">What is Drupal?</a>
						</li>
				<li class="menu__item">
			<a href="/who-are-dew.html" class="menu__link">Who are we?</a>
						</li>
				<li class="menu__item">
			<a href="/constitution-and-board.html" class="menu__link">Constitution</a>
						</li>
				<li class="menu__item">
			<a href="/committee.html" class="menu__link">Committee</a>
						</li>
				<li class="menu__item">
			<a href="/join-dew.html" title="Join Drupal England and Wales" class="menu__link">Join us!</a>
						</li>
			</ul>

<div class="join-drupal">
Contribute:&nbsp;
<a href="https://www.drupal.org/" target="_blank" class="btn btn--join">Drupal.org</a>
</div>



	</div>
</nav>

</header>

<main role="main">
  <div class="views-element-container" id="block-views-block-header-cta-block-1">


      <div><div class="js-view-dom-id-0802661e0f3222c4d94c8cdb6fc14b93f4f6f31a7a022d5cba76f88c8688cf16">








      <div class="views-row"><div class="cta clearfix">

            <div class="field field--name-field-cta-image field--type-image field--label-hidden field__item">  <img src="./assets/{{ page.header_image }}" width="1440" height="400" alt="Drupal 8 website weergegeven op een tablet" typeof="foaf:Image">


</div>

  <div class="l-container">
    <a href="https://drupal-england-wales.github.io/" class="cta__home-link"></a>
  </div>
  <div class="l-container">
      <div class="btn btn--cta">
    <a href="{{ page.image_link }}">{{ page.image_button }}</a>
  </div>

      <div class="cta__text">
    {{ page.image_title }}
  </div>

  </div>
</div>
</div>



</div>
</div>

  </div>

    <div class="r-highlighted">
    <div data-drupal-messages-fallback="" class="hidden"></div>

  </div>



  <div class="l-content">
    <a id="main-content" tabindex="-1"></a>      <div class="r-content">


      <span property="schema:name" content="Drupal England and Wales" class="hidden"></span>


  <div>

      <div class="field field--name-field-content field--type-entity-reference-revisions field--label-hidden field__items">
              <div class="field__item"><div class="paragraph paragraph--type--intro paragraph--view-mode--default">
  <div class="l-container">
      <div class="introduction"><h1><a id="drupal-england-and-wales">{{ page.page_title }}</a></h1>

<p>{{ content }}</p>
</div>
    <div class="btn btn--cta"><a href="{{ page.next_button_link }}">{{ page.next_button_text }}</a></div>

  </div>
</div>
</div>


  </div>

  </div>
</main>



<footer role="contentinfo" class="footer l-footer clearfix">
  <div class="l-container">
    <div class="footer-block footer-menu">
      <h3 class="footer-menu__title">Links</h3>
      <nav role="navigation" aria-labelledby="block-drupal-nl-footer-menu" id="block-drupal-nl-footer">

  <h2 class="visually-hidden" id="block-drupal-nl-footer-menu">Footer-menu</h2>



              <ul class="m-footer menu">
              <li class="menu__item">
        <a href="https://drupalcamp.london/" class="menu__link">DrupalCamp London</a>
              </li>
          <li class="menu__item">
        <a href="https://nwdrupal.org.uk/" class="menu__link">North West Drupal User Group (NWDUG)</a>
              </li>
          <li class="menu__item">
        <a href="https://twitter.com/oxdug" class="menu__link" target="" data-drupal-link-system-path="node/126">Oxford Drupal User Group (OXDUG)</a>
              </li>
        </ul>



  </nav>

    </div>
    <div class="footer-block footer-copyright">
      <p>© 2020 Drupal England and Wales<br>All content is released under the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a><br>Attribution credit and heartfelt thanks for design template to <a href="https://www.drupal.nl/">Drupal Netherlands</a>.
      </p>
    </div>
    <div class="footer-block footer-social">
      <p>Drupal is a registered <a href="https://drupal.com/trademark">trademark</a> of Dries Buytaert</p>
      <nav role="navigation" aria-labelledby="block-socialmenu-menu" id="block-socialmenu">

  <h2 class="visually-hidden" id="block-socialmenu-menu">Social menu</h2>



              <ul class="m-social menu">
              <li class="menu__item">
        <a href="https://twitter.com/drupalew">Twitter</a>
              </li>
        </ul>



  </nav>

    </div>
  </div>
</footer>

  </div>


<script src="./assets/js_5qUrUohzSc2peHTyskEn7OS02Pp3-sHOX30difUMKVE.js"></script>
{{ page.scripts }}

		</body>
	</html>
